{% extends 'layout.html.twig' %}
{% block content %}
    <div class="pt-5">

    </div>
    <section id="create-ticket" class="min-vh-100 min-hh-100">
        <div id="cover-caption">
            <div class="container shadow-lg">
                <div class="row text-white ">
                    <div class=" col-md-10 col-sm-6 mx-auto text-center form p-4">
                        <h1 class="display-4 py-2 text-center text-bold ">Create a ticket</h1>
                        <div class="px-2 mt-5 ">

                            <form method="POST" action="{{ dashboard_route }}" class="justify-content-center">
                                <div class="m-4 form-group">
                                    <label class="sr-only fsize-30" for="color">Priority:</label>
                                    <select class="pr-5 ml-4" name="priority" id="priority">
                                        {% for priority in priorities %}
                                            <option value={{priority}}>{{ priority }}</option>
                                        {% endfor %}
                                    </select>
                                    <span>&nbsp;&nbsp;&nbsp;</span>
                                    <label class="sr-only fsize-30" for="color">Area:</label>
                                    <select class="" name="area" id="area">
                                        {% for area in ticket_areas %}
                                            <option class="fsize-20" value={{area}}>{{ area }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only pb-2 fsize-30">Brief Description</label>
                                    <input type="text" name="title" class="form-control ticket_form" maxlength="50" required>
                                    <span class="help-block mt-2">Enter a brief title describing the issue.</span>

                                </div>
                                <div class="pt-4 pb-4 form-group">
                                    <label class="sr-only pb-2 fsize-30">Details</label>
                                    <textarea type="password" name="password" class="form-control ticket_form" rows="4" cols="50"></textarea>
                                    <span class="help-block mt-2">Explain your issue in detail.</span>

                                </div>
                                <button type="submit" class="btn btn-primary m-2 btn-lg">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}