{% extends 'layout.html.twig' %}
{% block content %}
    <div class="pt-5"></div>
    <section id="view-ticket">
        <div id="cover-caption">
            <div class="container shadow-lg">
                <div class="row text-white ">
                    <div class="text-center p-4">
                        <h1 class="display-4 py-2 pt-3 text-center">{{ page_heading }}</h1>
                        {% if tickets %}
                            <table class="">
                                <tr>
                                    <th>Title</th>
                                    <th>Category</th>
                                    <th>Priority</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                    {% if viewOption == 'all' %}
                                        <th>Raised By</th>
                                    {% endif %}
                                </tr>
                                {% for ticket in tickets %}
                                    <tr>
                                        <td>{{ ticket['title'] }}</td>
                                        <td>{{ ticket['category'] }}</td>
                                        <td>{{ ticket['priority'] }}</td>
                                        <td>{{ ticket['status'] }}</td>
                                        <td>
                                            <form method="POST" action="view_ticket/{{ ticket['id'] }}">
                                                <button type="submit" class="btn btn-secondary view">View</button>
                                            </form>
                                        </td>
                                        {% if viewOption == 'all' %}

                                            <td>{{ ticket['username'] }}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </table>
                        {% else %}
                            <h2>No Open Tickets.</h2>
                        {% endif %}
                        <button class="btn btn-secondary mt-2" onclick="history.back()">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}