{% extends 'layout.html.twig' %}
{% block content %}
    <div class="pt-5">
    </div>

    <section id="view-specific-ticket" class="">
        <div id="cover-caption">
            <div class="container shadow-lg">
                <div class="row text-white ">
                    <div class=" col-md-10 col-sm-6 mx-auto text-center p-4">
                        <h1 class="display-4 py-2 text-center text-bold ">{{ page_heading }}</h1>
                        <hr>
                        <table class="">
                            <tr>
                                <th>Category</th>
                                <th>Priority</th>
                                <th>Opened At</th>
                            </tr>
                            <tr>
                                <td>{{ ticket['category'] }}</td>
                                <td>{{ ticket['priority'] }}</td>
                                <td>{{ ticket['created'] }}</td>
                            </tr>
                        </table>
                        <hr class="mt-4">
                        <h2 class="">Description:</h2>
                        <article class="fsize-20">{{ ticket['description'] }}</article>
                        <hr class="mt-4">
                        <h2>Comments</h2>
                        <textarea type="text" name="comment_message" class="form-control comment_form" rows="2" cols="50" placeholder="Add a new comment."></textarea>
                        <button class="btn btn-primary mt-1 mb-1">Add Comment</button>
                        <hr>

                        <div class="btn-group">
                            <button class="btn btn-primary" onclick="history.back()">Return to Tickets</button>
                            <button class="btn ml-5 btn-primary">Resolve</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}