{% extends 'layout.html.twig' %}
{% block content %}
    <div class="pt-5"></div>
    <section id="view-specific-ticket" class="">
        <div id="cover-caption">
            <div class="container">
                <div class="row text-white">
                    <div class="text-center p-4">
                        <div id="ticketHeading">
                            <h1 class="inline display-6 text-center">{{ page_heading }}</h1>
                            <form class="resolve">
                                <button class="inline btn btn-primary">Resolve</button>
                            </form>
                        </div>
                        <hr>
                        <table>
                            <tr>
                                <th>Category</th>
                                <th>Priority</th>
                                <th>Opened At</th>
                            </tr>
                            <tr>
                                <td>{{ ticket['category'] }}</td>
                                <td>{{ ticket['priority'] }}</td>
                                <td>{{ ticket['created'] }}</td>
                            </tr>
                        </table>
                        <hr class="mt-4">
                        <h3 class="">Description:</h3>
                        <article class="fsize-15">{{ ticket['description'] }}</article>
                        <hr class="mt-4">
                        <form method="POST" action="{{ new_comment_route }}" >
                            <h3>New Comment</h3>
                            <div class="justified">
                                <textarea type="text" name="message" class="form-control comment_form" rows="2" cols="50" placeholder="Add a new comment."></textarea>
                            </div>
                            <button type="SUBMIT" class="btn btn-primary mt-1 mb-1">Add Comment</button>
                        </form>
                        <hr>
                        {% if comments is not empty %}
                            <h3>Comments</h3>
                            {% for comment in comments %}
                                <div class="comment-container">
                                    <p>{{ comment.message }}</p>
                                    <p class="author">Posted by: {{ comment.username }}</p>
                                    <p class="time">{{ comment.created }}</p>
                                </div>
                                <hr class="comments">


                            {% endfor %}
                        {% endif %}
                        <div class="btn-group">
                            <button class="btn btn-primary" onclick="history.back()">Return to Tickets</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}